@mixin border-stroke ($val) {
    @if $val ==light {
        border: 1px solid black;
    }

    @else if $val ==medium {
        border: 3px solid black;
    }

    @else if $val ==heavy {
        border: 6px solid black;
    }

    @else {
        border: none;
    }

    ;
}

#box {
    width: 150px;
    height: 150px;
    background-color: red;
    @include border-stroke(heavy);
}

@for $j from 1 to 6 {
    .text-#{$j} {
        font-size: 15px*$j;
    }
}

$colors: 
    blue hsl(240, 100%, 50%),
    black black,
    red red;

@each $name, $color in $colors {
    .#{$name}-bg {
        background-color: $color;
    }
}